body {
  background: #eee;
  text-align: center;
}

#mole_game {
  display: flex;
  width: 300px;
  height: 300px;
  background: #fff;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#mole_game .mole {
  display: flex;
  width: 130px;
  height: 130px;
  background: #cecece;
  border-radius: 50%;
}

#mole_game .mole img, #mole_game .mole span {
  display: block;
  height: 120px;
  width: 120px;
  margin: auto;
}

#mole_game .mole .target {
  background: url('../img/goblin.png');
}